<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jumbotron Template for Bootstrap</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

<div data-th-replace="navbar"></div>

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">

            <form th:object="${rdvForm}" method="post" th:action="@{/rdvs/save}">
                <hr>

                <p align="center"> Gestion des Rdvs</p>
                    <hr>
                <hidden type="text" th:field="*{id}" />

                <div class="form-group">
                    <label for="jour">date</label>
                    <input type="date" class="form-control" id="jour" aria-describedby="jour" th:field="*{jour}"
                           >

                </div>

                <div class="form-group">
                    <label for="client">Client</label>
                    <select class="form-control" id="client" th:field="*{client.id}">
                        <option th:each="c : ${clients}" th:value="${c.id}" th:utext="${c.nom}+' '+${c.prenom}">Spec 1</option>

                    </select>
                </div>
                <div class="form-group">
                    <label for="med">Medecin</label>
                    <select class="form-control" id="med" th:field="*{medecin.id}">
                        <option th:each="c : ${meds}" th:value="${c.id}" th:utext="${c.nom}+' '+${c.prenom}">Spec 1</option>

                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

</main>

<div data-th-replace="footer"></div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>